.overlayStyle {
    position: 'absolute';
    background: 'white';
    box-shadow: '0 2px 5px rgba(0, 0, 0, .15)';
}

  .DayPicker{
      width: 200px;
      outline: none;
      abbr[title], abbr[data-original-title]
      {
        cursor:default;
      }
  }

@media  screen and  (max-width: 480px)  {
  .DayPicker {
    width: 100%;
  }
  .DayPicker-Day {
      padding: 0.8em;
  }
  .DayPicker-Month {
    width: 100%;
        margin: 0 0;
  }
    .DayPicker-NavButton{
        height: 2.5rem;
    }
    .DayPicker-Caption{
      height: 2.5rem;
    }

}
